<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table style="width:100%;">
            <tr>
                <td>Logo of the website</td>
                <td>website name</td>
                <td>sign/sigup</td>
            </tr>
            <tr>
                <td>
                    Left Sidebar
                    <br />
                    @Html.ActionLink("Home", "Index", "Home");
                    <br />
                    @Html.ActionLink("About", "About", "Home");
                    <br />
                    @Html.ActionLink("Contact", "Contact", "Home");
                    <br />


                </td>
                <td>@RenderBody()</td>
                <td>Right Sidebar</td>
            </tr>
            <tr>
                <td>footer left 1</td>
                <td>footer middle 1</td>
                <td>footer right</td>
            </tr>
        </table>


    </div>
</body>
</html>
